

/**
MENU OPTIONS
*/

.accordion-item {
  border: 1px dashed rgb(11, 184, 214);
  margin-top: 10px;
}

.accordion-button {
  padding-top: 8px;
}

/* Disabled bootstrap accordion button */
.accordion-button::after {
  background-image: initial; 
}

.accordion-button:not(.collapsed)::after {
  background-image: initial;
}

.btn-group::after{
  outline: none;
}

.dropdown-menu{
  background-image: initial;
}

.item_clickeable{
  color: rgb(39, 167, 184);
}

/**
END MENU OPTIONS
*/


/**
INFO DETAILS
*/

.nav-link {
  width: 40%;
  background: #00BEC9;
  box-shadow: 0px 5px 5px rgba(38, 51, 77, 0.03);
  border-radius: 15px;
}
